.app {
	max-width: 320px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.screen {
	font-size: 2em;
	text-align: right;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.buttons {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 10px;
	text-align: center;
}

.buttonsNumbers,
.operators {
	display: grid;
	gap: 5px;
}

.buttonsNumbers {
	grid-template-columns: repeat(3, 1fr);
}

.button,
.reset,
.operator,
.equals {
	font-size: 1.2em;
	padding: 15px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.button {
	background-color: #fff;
	border: 1px solid #ddd;
}

.button:hover {
	background-color: #f0f0f0;
}

.zero {
	grid-column: 2/3;
}

.reset {
	background: #f44336;
	/* border: 1px solid #fff; */
}

.reset:hover {
	background: #da190b;
}

.operator {
	background: #ff9800;
}

.operator:hover {
	background: #f57c00;
}

.equals {
	background: #4caf50;
}

.equals:hover {
	background: #45a049;
}

.result {
	color: #f44336;
}
